{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- background-color:#27AE60;color: white -->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<style>
  
    * {
        /* font-family: 'Pacifico', cursive; */
        font-family: 'Josefin Sans', sans-serif;
    }
</style>
<div class="container">
    <h3 style="background-color:#27AE60;color: white" class="h3 list-group-item list-group-item-action">
        your Cart <i class="fas fa-shopping-cart"></i>
    </h3>
    <div class="row">

        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <table class="table table-hover">

                <thead>

                    <tr style="background-color:#27AE60;color: white">
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in cart.items %}

                    <tr>

                        <td class="col-sm-8 col-md-4">

                            <div class="media">

                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{ item.product.item_path.url }}" style="width: 100px; height: auto"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a style="color:#27AE60;" href="#">{{ item.product.name }}</a></h4>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="{{ item.quantity }}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>KSh {{ item.product.selling_price }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>KSh {{ item.subtotal }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button style="background-color:#27AE60;" type="button" class="btn btn-success">
                                <a style="color:white;" href="/shoppingcart/remove/{{ item.product.id }}">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </a>
                            </button></td>
                    </tr>

                    {%endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Subtotal<br><br>VAT</h5>
                            <h3>Total</h3>
                        </td>
                        <td class="text-right">
                            <h5>
                                <strong>KSh {{total}}<br></strong>
                                <br>
                                {% if item.product.vat %}
                                {{item.product.vat}}
                                {% else %}
                                <strong>KSh 0.00<br></strong>
                                {% endif %} </h5>
                            </h5>
                            <h3>{{total}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a type="button" href="{% url 'stock' %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </a></td>
                        <td>
                            <button type="button" class="btn btn-success">
                                <a href="/proceed/order/">
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </a>
                            </button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}